/* ELearning.css */  
.header {  
  background-color: rgb(19, 208, 255);  
  padding: 20px;  
  display: flex;  
  justify-content: space-between;  
  align-items: center;  
  
}  
.logo {  
  font-size: 30px;  
  font-weight: bold;  
  color: #008cff;  
}  

.nav-container {  
  display: flex;  
  align-items: center;  
  gap: 16px;  
  margin: 5px;  
}  


.nav-links {  
  display: flex;  
  justify-content: space-between;  
  list-style-type: none;  
  margin: 0;   
  padding-right: 150px;                 
}  

.nav-links a {  
  text-decoration: none;  
  padding: 10px 20px;  
  color: #333;  
}  

.nav-links a:hover {  
  color: #67a9ff;  
}  

.main-container {  
  display: flex;  
  justify-content: center;  
  align-items: center;  
  min-height: 80vh; /* Ensure it covers the full viewport height */  
  background-size: cover; /* Ensure the background covers entire area */  
}  

.form-container {  
  background-color: #ffffff;  
  width: 400px;   
  max-height: 90vh; /* Giá»›i háº¡n chiá»u cao cá»§a form */  
  padding: 50px;  
  border: 1px solid #88d5ff; /* ThÃªm border Ä‘á»ƒ form rÃµ rÃ ng hÆ¡n */  
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1); /* BÃ³ng Ä‘á»• tÃ¹y chá»n Ä‘á»ƒ táº¡o Ä‘á»™ sÃ¢u */  
  border-radius: 8px; /* ThÃªm Ä‘á»ƒ cáº£i thiá»‡n tháº©m má»¹ */  
}  

.button-container {  
  display: flex;  
  justify-content: center;  
  margin-bottom: 16px;  
  background-color: #9dc7ff;  
  padding: 15px;  
  border-radius: 20px;  
  transition: background-color 0.3s; /* Smooth transition */  
}  

.login-button, .register-button {  
  padding: 15px 50px;  
  border-radius: 50px;  
  border: none;  
  cursor: pointer;  
  font-size: 16px;  
  transition: background-color 0.3s; /* Smooth transition */  
}  

.login-button {  
  background-color: #4299e1;  
  color: white;  
}  

.register-button {  
  background-color: #edf2f7;  
  color: #005eff;  
  margin-left: 20px; /* Adjust this value for desired spacing */  
}  

.input-fields {  
  display: flex;  
  flex-direction: column;  
  gap: 20px;  
  font-size: 20px;
  padding: 20px;
}  

.input-field {  
  width: 100%; /* Full width input */  
  padding: 12px ;  
  border: 3px solid #a8cbff;  
  border-radius: 4px;  
}  

.password-container {  
  position: relative;  
}  

.password-icon {  
  position: absolute;  
  right: 8px;  
  top: 50%;  
  transform: translateY(-50%); /* Center icon vertically */  
  color: #a0aec0;  
  cursor: pointer; /* Change cursor to pointer */  
}  
.password-icon.active {  
  color: #000000;  /* Change color when password is visible */  
}  

.submit-button {  
  background-color: #4299e1;  
  color: white;  
  width: 100%;  
  padding: 10px;  
  border-radius: 20px;  
  border: none;  
  cursor: pointer;  
  font-size: 20px;
}  